.btn{
    width: 20px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 50%;
}
.end-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
}