* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 5px;
  text-decoration: none;
  list-style: none;
}

.container {
  margin-right: 50px;
  margin-left: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

[class*=col-] {
  float: left;
}

[class*=col-]::after {
  clear: both;
}

.row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.container-fluid {
  width: 100%;
}

.clear-fix {
  clear: both;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
#header {
  margin-top: 10px;
}

nav .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-bottom {
  border: 2px solid black;
  height: 50px;
  background-color: black;
  color: white;
}
.header-bottom .header-list {
  margin-top: -85px;
}
.header-bottom ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header-bottom ul li {
  padding-right: 35px;
}

.img-wrapper img {
  width: 88%;
}

.right-side {
  display: flex;
}
.right-side .svg, .right-side span {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 200px;
}
.right-side .svg1 {
  margin-top: 15px;
}
.right-side ul {
  margin-left: 40px;
  display: inline;
  display: flex;
  list-style-type: none;
}
.right-side ul li {
  padding: 0 10px;
}
.right-side ul li svg {
  width: 20px;
  height: 20px;
}

.footer-icons ul {
  display: flex;
  justify-content: flex-start;
}
.footer-icons ul li {
  padding-right: 20px;
}

.middle-side {
  position: relative;
}
.middle-side .input {
  background-color: #f6f6f8;
  padding-left: 20px;
  width: 620px;
  border-radius: 10px;
  border-color: #f6f6f8;
  height: 40px;
}
.middle-side .input::-moz-placeholder {
  padding-left: 20px;
}
.middle-side .input:-ms-input-placeholder {
  padding-left: 20px;
}
.middle-side .input::placeholder {
  padding-left: 20px;
}
.middle-side svg {
  position: absolute;
  left: 10px;
  top: 36%;
  transform: translateY(-50%);
}

#promotion .img-wrapper {
  display: flex;
  justify-content: center;
}

#col img {
  width: 100%;
}

ul {
  text-align: start;
  margin-top: 30px;
}
ul li {
  padding-bottom: 10px;
}
ul li a {
  color: white;
}

#footer {
  box-shadow: none;
}

.btn {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 50%;
}

.end-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 800px;
}

.title-part {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}
.title-part p {
  margin-right: 10px;
}

.col-12 {
  width: 100%;
}

#subscribe {
  background-color: #F0F0F0;
}
#subscribe .subscribe__row {
  justify-content: center;
}
#subscribe .subscribe__row h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 32px;
}
#subscribe .subscribe__row form {
  text-align: center;
}
#subscribe .subscribe__row form input {
  border-radius: 6px;
  background-color: #fff;
  border: none;
  padding: 14px 0px 14px 16px;
  font-size: 14px;
  line-height: 20px;
  width: 75%;
}
#subscribe .subscribe__row form input::-moz-placeholder {
  padding-left: 20px;
  color: #828282;
}
#subscribe .subscribe__row form input:-ms-input-placeholder {
  padding-left: 20px;
  color: #828282;
}
#subscribe .subscribe__row form input::placeholder {
  padding-left: 20px;
  color: #828282;
}
#subscribe .subscribe__row form input:focus {
  outline: none;
}
#subscribe .subscribe__row form button {
  background: #1D2123;
  border-radius: 8px;
  color: white;
  padding: 14px 34px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 60px 60px;
}
.row .col-3 {
  width: 272px;
  height: 380px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.row .col-3 .card-img {
  margin: 0 auto;
}
.row .card {
  height: 450px;
}
.row .card-desc {
  padding-top: 10px;
}

.card-img .bronze {
  height: 220px;
  width: 100%;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}
.col-6 img {
  width: 95%;
}

#footer {
  background-color: black;
}
#footer .col-3 {
  color: white;
}
#footer .col-3 h2 {
  text-align: start;
}
#footer .about__row {
  box-shadow: none;
}

.footer-bottom {
  padding-bottom: 20px;
  color: white;
}
.footer-bottom .footer_end {
  display: flex;
  justify-content: space-between;
}
.footer-bottom__leftside {
  margin-left: 40px;
}
.footer-bottom__rightside {
  display: flex;
  flex-direction: row;
}
.footer-bottom__rightside h5 {
  padding-right: 60px;
}

.debet-cards {
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */